.sidebar {
    background: #9d9d9d26;
    position: sticky;
    color: rgb(0, 0, 0);
    margin-top: 1em;
    padding: 10px 20px;
    border-radius: 20px;
}

.sidebar button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.3em;
    background: #00000038;
    border-radius: 15px;
    margin: 1em 0;
    padding: 0.5em;
    color: #ffffff;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

.sidebar button:hover {
    background: #f8f8f838;
}

.dropdown-container {
    position: relative;
}

.dropdown-toggle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1em;
    background: #00000038;
    border-radius: 15px;
    margin: 1em 0;
    padding: 0.5em;
    color: #ffffff;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
    width: 100%;
}

.dropdown-toggle:hover {
    background: #ffffff38;
}

.dropdown-menu {
    top: 100%;
    left: 0;
    background: #9d9d9d26;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    margin-top: 0.5em;
    width: 100%;
    overflow: hidden;
}

.dropdown-item {
    display: block;
    font-size: 1em;
    background: #00000038;
    border: none;
    padding: 0.5em 1em;
    color: #ffffff;
    cursor: pointer;
    text-align: left;
    transition: background-color 0.3s ease;
    width: 100%;
}

.dropdown-item:hover {
    background: #ffffff38;
}
