.matrix-game {
    text-align: center;
}

.matrix {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 10px;
    justify-content: center;
}

.matrixsquare {
    width: 150px;
    height: 150px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
    border: 4px solid black;
}

.square:hover {
    background-color: lightblue;
}

label {
    display: block;
    margin: 10px 0;
}

input[type="range"] {
    width: 200px;
}
