.quick-memory-game {
    text-align: center;
    margin-top: 20px;
}

.quick-memory-game button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

.quick-memory-game input {
    padding: 10px;
    font-size: 18px;
    text-align: center;
    width: 100px;
    margin-top: 10px;
}

.quick-memory-game p {
    font-size: 24px;
}

.quick-memory-game ul {
    list-style-type: none;
    padding: 0;
}

.quick-memory-game li {
    font-size: 18px;
    margin: 10px 0;
}

.quick-memory-game .error-message {
    color: red;
}

.settings{
    background: #efefef;
    border-radius: 80px;
    width: fit-content;
    padding: 20px;
}

.gamedesc{
    background: #efefef;
    border-radius: 80px;
    padding: 20px;
}