/* Register.css */

.registration-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 2em;
    background: #000000d4;
    backdrop-filter: blur(20px);
    border-radius: 25px;
    box-shadow: 0 15px 60px #00000063;
  }
  
  .registration-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    width: fit-content;
  }
  
  .registration-form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .reg_main {
    max-width: 60%;
    width: -webkit-fill-available;
    text-align: left;
  }
  
  .reg_main h2 {
    font-family: 'Varela Round';
    font-size: 58px;
    font-weight: 900;
    color: #2c2c2c;
    text-align: left;
  }
  
  .registration-form-container h2 {
    font-size: 36px;
    margin-bottom: 1em;
  }
  
  .registration-form-container form {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 1em;
  }
  
  .registration-form-container label {
    font-size: 16px;
    color: #2c2c2c;
    font-weight: bold;
    display: inline-grid;
    width: 50%;
    padding: 0 15px;
  }
  
  .registration-form-container input,
  .registration-form-container select {
    height: 50px;
    border-radius: 8px;
    font-size: 14px;
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 0 !important;
    background: #f5f6f8;
    color: black;
    transition: 0.4s all;
    border: none;
  }
  
  .registration-form-container input:focus,
  .registration-form-container select:focus {
    background-color: #9773dc1a !important;
    outline: none;
  }
  
  .rating-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    label {
      display: flex;
      align-items: center;
  
      input {
        margin: 0;
        margin-right: 10px;
        width: 30px;
        accent-color: #fff;
      }
    }
  }
  
  .receive-emails {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-top: 10px;
  
    label {
      display: flex;
      align-items: center;
      gap: 10px;
  
      input {
        width: 20px;
        margin-top: 0;
      }
    }
  }
  
  .reg_btn_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    p {
      font-size: 20px !important;
    }
  }
  
  .registration-form-container button {
    width: 400px;
    height: 60px;
    padding: 0.75em;
    background-color: #2c2c2c;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .registration-form-container button:hover {
    background-color: #fff;
    color: #2c2c2c;
  }
  
  .registration-form-container p {
    margin-top: 1em;
    font-size: 14px;
    text-align: center;
  }
  
  .registration-form-container .register-link {
    color: #2c2c2c;
    text-decoration: none;
    font-weight: bold;
  }
  
  .registration-form-container .register-link:hover {
    text-decoration: underline;
  }
  
  .server-message {
    color: #ff0000;
    font-weight: bold;
    text-align: center;
  }
  
  .error-message {
    color: #ff0000;
    font-size: 12px;
  }
  
  .icon-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .selected-icon {
    width: fit-content;
    border-radius: 50%;
    padding: 20px;
    border: 0;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  
    img {
      width: 50px;
      height: 50px;
    }
  }
  
  .icon-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    align-items: center;
  
    .icon-item {
      margin: 5px;
      border: 1px solid transparent;
      transition: border-color 0.3s;
      background: #f5f6f8;
      border-radius: 50%;
      padding: 15px;
      margin: 5px 10px;
    }
  }
  